# TinyMCE 3.x and CakePHP conflict if short_open_tag is on
php_flag short_open_tag off

<IfModule mod_shib>
  AuthType Shibboleth
  ShibRequireSession off
  Require shibboleth
</IfModule>

<IfModule mod_rewrite.c>
    RewriteEngine On

    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^(.*)$ index.php?/$1 [QSA,L]
</IfModule>
