html, body {
  margin: 0;
}

body {
  font-family: "PT Sans", "Arial", sans-serif;
}

/* Layout - for some reason, repeated in default.css */
#container {
  width: 75%;
  margin: 0 auto;
  padding: 1em;
  background-color: #6A80A8;
}
#content {
  padding: 1.438em;
  background-color: white;
}

/* Seems we don't have a general clearfix currently */
#content:after {
  visibility: hidden;
  display: block;
  content: "";
  clear: both;
  height: 0;
}
