html, body {
  margin: 0;
}

body {
  font-family: "PT Sans", "Arial", sans-serif;
  background-color: #CCCCCC;
}

h1 {
  margin: .5em 0 1em;
}

/* Main wrapper */
#container {
  background-color: #6A80A8;
  width: 950px;
  margin: 0 auto;
  -moz-border-radius-bottomright: 5%;
  -moz-border-radius-bottomleft: 5%;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  padding: 18px 0;
}

#content {
  width: 802px;
  margin: 0 auto;
  background-color: white;
  padding: 10px 37px 37px 37px;
  -moz-border-radius-bottomright: 5%;
  -moz-border-radius-bottomleft: 5%;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
}
/* Seems we don't have a general clearfix currently */
#content:after {
  visibility: hidden;
  display: block;
  content: "";
  clear: both;
  height: 0;
}

/* Guide on the Side banner */
#QuickHelp {
  position: relative;
  left: -37px;
  border: 0;
}

/* Signed in users name and also links */
#userinfo {
  text-align: right;
  font-size: 80%;
  margin-bottom: .8em;
}

/* Messages and errors */
.message {
  margin: 1em 0;
  padding: 1em;
  border: 2px solid #6A80A8;
  border-radius: 10px;
  -moz-border-radius: 10px;
  background-color: #ECF092;
}

.page-error {
  background-color: #E0273F;
  background: -moz-linear-gradient(65% 65% 270deg, #E0273F, #E0673F);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#E0273F), to(#E0673F));
  color: white;
  border: 2px solid #E0273F;
}

#authMessage {
  background-color: #E0273F;
  background: -moz-linear-gradient(65% 65% 270deg, #E0273F, #E0673F);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#E0273F), to(#E0673F));
  color: white;
  border: 2px solid #E0273F;
}

/* This is for field-level errors. Need some CSS refactoring to merge with .error and .message above. */
/* missing from this section is .error - a 404 would display that. */
.error-message {
  background-color: #E0273F;
  background: -moz-linear-gradient(65% 65% 270deg, #E0273F, #E0673F);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#E0273F), to(#E0673F));
  padding: 1em;
  border-radius: 10px;
  -moz-border-radius: 10px;
  color: white;
  text-decoration: none;
  display: block;
  border: 2px solid #E0273F;
  margin-left: 10.5em;
  margin-right: 16em;
}

/* Simple buttons are for the public side tutorial info page and popup page */
.simple-button {
  background-color: #475671;
  color: white;
  padding: 7px 14px;
  text-decoration: none;
  display: block;
  float: left;
}