html, body {
  margin: 0;
}

body {
  font-family: "PT Sans", "Arial", sans-serif;
  background-color: #CCCCCC;
  padding-bottom: 2em;
}

h1 {
  margin: .5em 0 1em;
}

/* Layout - for some reason, repeated in common.css */
#container {
  width: 87%;
  margin: 0 auto;
  padding: 1.438em;
  background-color: #6A80A8;
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
}
#content {
  padding:  0 1.438em 1.438em;
  background-color: white;
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
}
@media (max-width: 400px) {
  #container {
    width: auto;
    padding: 0.25em;
  }
}

@media (max-width: 680px) {
  #container {
    width: auto;
  }
}
@media (min-width: 980px) {
  #container {
    width: 74%;
  }
}
@media (min-width: 1200px) {
  #container {
    width: 70%;
  }
}

/* Seems we don't have a general clearfix currently */
#content:after {
  visibility: hidden;
  display: block;
  content: "";
  clear: both;
  height: 0;
}

/* banner */

.banner {
  background-color: #6A80A8;
  box-shadow: 1.438em 0 0 0px #6A80A8, -1.438em 0 0 0px #6A80A8;
  color: white;
}
.banner a {
  text-decoration: none;
  font-family: "Crimson Text", serif;
  font-style: italic;
  color: white;
}
.banner h1 {
  font-size: 1.8em;
  font-weight: 400;
  margin: 0;
}

/* Popup mode */
h1.banner {
  margin: 0;
  padding: 0.25em 0;
  letter-spacing: normal;
  text-transform: none;
  font-weight: 400;
}

/* Signed in users name and also links */
#userinfo {
  text-align: right;
  font-size: 80%;
  padding: .8em 0;
}

/* Messages and errors */
.message {
  margin: 1em 0;
  padding: 1em;
  border: 2px solid #6A80A8;
  border-radius: 10px;
  -moz-border-radius: 10px;
  background-color: #ECF092;
}

.page-error {
  background-color: #E0273F;
  background: -moz-linear-gradient(65% 65% 270deg, #E0273F, #E0673F);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#E0273F), to(#E0673F));
  color: white;
  border: 2px solid #E0273F;
}

#authMessage {
  background-color: #E0273F;
  background: -moz-linear-gradient(65% 65% 270deg, #E0273F, #E0673F);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#E0273F), to(#E0673F));
  color: white;
  border: 2px solid #E0273F;
}

/* This is for field-level errors. Need some CSS refactoring to merge with .error and .message above. */
/* missing from this section is .error - a 404 would display that. */
.error-message {
  background-color: #E0273F;
  background: -moz-linear-gradient(65% 65% 270deg, #E0273F, #E0673F);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#E0273F), to(#E0673F));
  padding: 1em;
  border-radius: 10px;
  -moz-border-radius: 10px;
  color: white;
  text-decoration: none;
  display: block;
  border: 2px solid #E0273F;
  margin-left: 10.5em;
  margin-right: 16em;
}

/* Simple buttons are for the public side tutorial info page and popup page */
.simple-button {
  background-color: #475671;
  color: white;
  padding: 7px 14px;
  text-decoration: none;
  display: block;
  float: left;
  margin: 1em 0;
  border-radius: 3px;
}
.simple-button:hover {
  background-color: #2C3445;
}
.simple-button:active {
  position: relative;
  top: 1px;
}
.simple-button:after {
  content: " →";
}

/* Admin styles */
/* form layout used on the edit tutorial information page */

.input {
  margin: 1em 0;
}
fieldset {
  margin: 1em 0;
  border: 1px solid #ccc;
}
.required label:before {
  content: "*";
  color: #A90000;
  padding: 0px 3px;
  font-weight: normal;
}
.input label {
  font-weight: bold;
  margin-right: 4px;
  
}
.field-description {
  font-size: 80%;
  margin-left: 1em;
  display: inline;
  }
.textarea label {
  display: block;
  margin: 0.5em 0;
}
div.input input {
  margin-left: 4px;
  margin-right: 4px;
  }
.input.required{
  text-indent: -12px;
}
.input.checkbox input {
   margin-right: 4px;
 }
 .input.checkbox label {
   margin-left: 4px;
 }
.text label {
  width: 200px;
 }
/* Multiple checkboxes */
.select .checkbox {
  margin: 5px 0;
}
.select label {
  margin-top: 10px;
  margin-bottom: 10px;
}
/* save */
.submit input {
  margin-top: 2em;
  margin-left: 12.5em;
}

/* Tutorial create and edit pages */
.mceEditor {
  display: inline-block;
}

#TutorialContent_parent {
  display: inline;
}

/* Publish/unpublish, Edit information, Preview, Edit Quiz */
.actions {
  float: right;
}

.actions .big-button {
  margin-top: 1em;
}

.big-button {
  font-size: 115%;
  background-color: #6A80A8;
  background: -moz-linear-gradient(65% 65% 270deg,#87A3D6, #9CBCF7);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#87A3D6), to(#9CBCF7));
  width: 10em;
  padding: 1em;
  border-radius: 10px;
  -moz-border-radius: 10px;
  color: white;
  text-decoration: none;
  display: block;
  border: 2px solid #6A80A8;
}


 #edit {
  font-size: 115%;
  background-color: #6A80A8;
  background: -moz-linear-gradient(65% 65% 270deg,#87A3D6, #9CBCF7);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#87A3D6), to(#9CBCF7));
  width: 10em;
  padding: .5em;
  padding-left: 1em;
  border-top-left-radius: 10px;
  -moz-border-radius-topleft: 10px;
  border-top-right-radius: 10px;
  -moz-border-radius-topright: 10px;
  color: white;
  text-decoration: none;
  display: block;
  border: 2px solid #6A80A8;
  font-weight: normal;
  border-bottom: none;
  z-index: 10;
  position: relative;
}

.paginated-list {
  background-color: white;
  padding: 1em;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  -moz-border-radius-topright: 10px;
  -moz-border-radius-bottomright: 10px;
  -moz-border-radius-bottomleft: 10px;
  text-decoration: none;
  display: block;
  border: 2px solid #6A80A8;
  position: relative;
  top: -1.0em;
  z-index: 5;
}

.row {
  border-bottom: 1px solid #6A80A8;
  padding: .3em;
}

.row div {
  display: inline-block;
}

.row .actions {
  float: right;
}

.paginated-list .paging {
  color: black;
}