
#email-print table {
  display: inline-block !important;
}

#email-print thead {
  display: inline-block !important;
}

#email-print th {
  display: inline-block !important;
}

#email-print tbody {
  display: inline-block !important;
}

#email-print tr {
  display: inline-block !important;
}

#email-print td {
  display: inline-block !important;
}

